body {
    font-size: 18px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

a { 
    color:#018ad2;
text-decoration: none;
}
a:hover {
    color: #c00;
    text-decoration: none;
}

button {
    padding: 8px 12px;
}

p {
    
    text-align: left;
    
    
}

ul {
    margin-left: 20px;
    padding: 0;
}

iframe {
    border-width: 1px;
    border-style: dashed;
    border-color: #ccc;
    
}

table, th, td {
    border-width: 1;
    border-style: double;
    border-color: black;
}

.review { 
    display: flex;
    gap: 20px;
}

